mixin sidebar(endpoint)
	div(class="blog-sidebar")
		h4 Explore All Blogs
		div(class="sidebar-module")
			li
				a(class='archive' href="home?id=January") January
			li 
				a(class='archive' href="home?id=February") February
			li
				a(class='archive' href="home?id=March") March
			li 
				a(class='archive' href="home?id=April") April
			li 
				a(class='archive' href="home?id=May") May
			li 
				a(class='archive' href="home?id=June") June 
			li 
				a(class='archive' href="home?id=July") July
			li 
				a(class='archive' href="home?id=August") August
			li 
				a(class='archive' href="home?id=September") September
			li 
				a(class='archive' href="home?id=October") October
			li 
				a(class='archive' href="home?id=November") November
			li 
				a(class='archive' href="home?id=December") December



mixin loggedIn(loggedIn)
	if loggedIn 
		li
			a(href='logout') Log Out
	else 
		li
			a(href='login') Log In

mixin blogform(endpoint, method)
	if posts
		form(action=endpoint, method='#{method}')
			label(class='authorlabel') Author:
				input(class='author' type='text' name='author' value='#{posts[0].author}' required)
			label(class='titlelabel') Title:
				input(class='title' type='text' name='title' value='#{posts[0].title}' required)
			label(class='idlabel') Identifier:
				input(class='id' type='text' name='id' value='#{posts[0].id}' readonly)
			textarea(class='textarea' wrap='hard' name='text' required) #{posts[0].text}
			input(class='save' type='submit' value="Save" )
	if !posts
		form(action=endpoint, method='#{method}')
				label(class='authorlabel') Author:
					input(class='author' type='text' name='author' value='#{posts.author}' required)
				label(class='titlelabel') Title:
					input(class='title' type='text' name='title' value='#{posts.title}' required)
				label(class='idlabel') Identifier:
					input(class='id' type='text' name='id' value='' readonly)
				textarea(class='textarea' wrap='hard' name='text' required) #{posts.text}
				input(class='save' type='submit' value="Save")